* {
  --color-primary-500: rgb(130, 44, 255);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(242, 233, 243);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-primary-500);
  text-align: center;
  padding: 2rem;
  color: rgb(241, 234, 234);
}
header h1 {
  margin-top: 0;
}

#players-configurations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.player-container {
  background-color: rgb(237, 221, 252);
  margin: 1rem 1rem;
  width: 25%;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.player-container p {
  font-weight: bold;
}

.player-container button {
  font: inherit;
  font-size: 1.2rem;
  background-color: transparent;
  color: rgb(137, 87, 236);
  border: none;
  border-radius: 8px;
  padding: 0.7rem 2rem;
  cursor: pointer;
}

.player-container button:hover {
  background-color: rgb(222, 194, 251);
}

.player-name {
  color: rgb(84, 32, 157);
  font-weight: bolder;
  font-size: 2rem;
  position: relative;
}

.symbol {
  font-size: 2.5rem;
  color: rgb(38, 38, 38);
}

#overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

#overlay form {
  background-color: rgb(251, 250, 252);
  width: 50%;
  margin: 20rem auto;
  padding: 1rem 3rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#overlay h2 {
  margin: 0 auto 1rem auto;
  padding: 0;
}

#overlay input {
  color: rgb(84, 32, 157);
  background-color: rgb(251, 250, 252);
  font: inherit;
  font-weight: bolder;
  font-size: 1.5rem;
  position: relative;
  border: none;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

#overlay input:focus-visible,
#overlay input:focus {
  border: none;
  outline: 0;
}

#overlay button {
  margin: 1rem auto;
  font: inherit;
  font-size: 1rem;
  background-color: var(--color-primary-500);
  color: rgb(233, 225, 250);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
#overlay button:hover {
  background-color: rgb(143, 74, 247);
}

#overlay #cancel {
  color: var(--color-primary-500);
  background-color: rgb(251, 250, 252);
}

#overlay #cancel:hover {
  background-color: rgb(237, 221, 252);
}

#start a {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: var(--color-primary-500);
  color: rgb(233, 225, 250);
  border-radius: 8px;
  padding: 0.7rem 2rem;
  cursor: pointer;
}

#start a:hover {
  background-color: rgb(143, 74, 247);
}

#gameplay {
  display: none;
  /* width: fit-content; */
  margin-top: 4rem;
}

#turn {
  text-align: center;
  font-size: 2rem;
}
#gameplay ul {
  width: 0;
  margin: 2rem auto;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.game-place {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 181, 246);
  color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 6px;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.game-place.played {
  background-color: rgb(130, 44, 255);
}

.game-place:hover {
  background-color: rgb(106, 41, 207);
}

#game-result {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

#results {
  background-color: rgb(54, 26, 90);
  width: 50%;
  margin: 20rem auto;
  padding: 1rem 3rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#results h2 {
  font-size: 2rem;
  color: rgb(220, 220, 220);
}

#results p {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: space-around;
}

#next-game {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#next-game button {
  margin: 1rem auto;
  font: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

#next-game button:hover {
  background-color: rgb(143, 74, 247);
}

#rematch {
  color: rgb(233, 225, 250);
  background-color: rgb(54, 26, 90);
}

#config:hover {
  color: white;
}


@media (max-width: 48rem) {
  #players-configurations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .player-container {
    width: 80%;
  }
  #overlay input {
    width: 100%;
  }
  .game-place {
    width: 7rem;
    height: 7rem;
  }
  #gameplay {
    margin-bottom: 8rem;
  }
  #results {
    margin-top: 7rem;
    width: 15rem;
  }
  #results p {
    flex-direction: column;
  justify-content: space-between;
  }
}
